@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    src: local('Press Start 2P'),
        local('press-start-2p'),
        url(/fonts/press-start-2p-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Jersey10';
    font-style: normal;
    src: local('Jersey10'),
        local('jersey10'),
        url(/fonts/jersey10-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    src: local('Roboto Mono'),
        local('roboto-mono'),
        url(/fonts/robotomono.ttf);
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    src: local('Roboto Mono'),
        local('roboto-mono'),
        url(/fonts/robotomono-italic.ttf);
}

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: hsl(0, 0%, 20%); /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  appearance: button;
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  appearance: button;
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: hsl(0, 0%, 40%); /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: hsl(0, 0%, 40%); /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

:root {
    --screens-sm: 20rem;
    --screens-md: 37.5rem;
    --screens-lg: 55rem;

    --color-gray-50:   hsl(0, 0%, 5%);
    --color-gray-100:  hsl(0, 0%, 10%);
    --color-gray-200:  hsl(0, 0%, 20%);
    --color-gray-300:  hsl(0, 0%, 30%);
    --color-gray-400:  hsl(0, 0%, 40%);
    --color-gray-500:  hsl(0, 0%, 50%);
    --color-gray-600:  hsl(0, 0%, 60%);
    --color-gray-700:  hsl(0, 0%, 70%);
    --color-gray-800:  hsl(0, 0%, 80%);
    --color-gray-900:  hsl(0, 0%, 90%);
    --color-gray-950:  hsl(0, 0%, 95%);

    --color-hotpink-50:   hsl(330, 88%, 93%);
    --color-hotpink-100:  hsl(331, 88%, 90%);
    --color-hotpink-200:  hsl(330, 88%, 83%);
    --color-hotpink-300:  hsl(330, 88%, 77%);
    --color-hotpink-400:  hsl(330, 88%, 70%);
    --color-hotpink-500:  hsl(330, 88%, 67%);
    --color-hotpink-600:  hsl(330, 65%, 60%);
    --color-hotpink-700:  hsl(330, 43%, 47%);
    --color-hotpink-800:  hsl(330, 43%, 34%);
    --color-hotpink-900:  hsl(330, 43%, 20%);
    --color-hotpink-950:  hsl(331, 42%, 14%);

    --color-sandyyellow-50:   hsl(54, 93%, 94%);
    --color-sandyyellow-100:  hsl(53, 95%, 91%);
    --color-sandyyellow-200:  hsl(53, 97%, 86%);
    --color-sandyyellow-300:  hsl(53, 96%, 80%);
    --color-sandyyellow-400:  hsl(53, 97%, 75%);
    --color-sandyyellow-500:  hsl(53, 97%, 72%);
    --color-sandyyellow-600:  hsl(53, 69%, 65%);
    --color-sandyyellow-700:  hsl(53, 38%, 50%);
    --color-sandyyellow-800:  hsl(53, 38%, 36%);
    --color-sandyyellow-900:  hsl(53, 38%, 22%);
    --color-sandyyellow-950:  hsl(53, 37%, 14%);

    --color-lightgreenishblue-50:   hsl(154, 88%, 93%);
    --color-lightgreenishblue-100:  hsl(153, 92%, 90%);
    --color-lightgreenishblue-200:  hsl(153, 90%, 84%);
    --color-lightgreenishblue-300:  hsl(153, 91%, 77%);
    --color-lightgreenishblue-400:  hsl(153, 91%, 71%);
    --color-lightgreenishblue-500:  hsl(153, 90%, 68%);
    --color-lightgreenishblue-600:  hsl(153, 68%, 61%);
    --color-lightgreenishblue-700:  hsl(153, 43%, 47%);
    --color-lightgreenishblue-800:  hsl(153, 43%, 34%);
    --color-lightgreenishblue-900:  hsl(153, 42%, 20%);
    --color-lightgreenishblue-950:  hsl(153, 42%, 14%);

    --color-bluelotus-50:   hsl(244, 79%, 93%);
    --color-bluelotus-100:  hsl(244, 82%, 89%);
    --color-bluelotus-200:  hsl(244, 80%, 82%);
    --color-bluelotus-300:  hsl(244, 81%, 75%);
    --color-bluelotus-400:  hsl(244, 80%, 68%);
    --color-bluelotus-500:  hsl(244, 79%, 65%);
    --color-bluelotus-600:  hsl(244, 60%, 58%);
    --color-bluelotus-700:  hsl(244, 43%, 45%);
    --color-bluelotus-800:  hsl(244, 43%, 33%);
    --color-bluelotus-900:  hsl(244, 43%, 19%);
    --color-bluelotus-950:  hsl(244, 42%, 13%);
}

body {
    --color-primary-light: var(--color-hotpink-300);
    --color-primary: var(--color-hotpink-500);
    --color-primary-50: hsl(330 88% 67% / 50%); /* Was 50% hotpink-500 */
    --color-primary-dark: var(--color-hotpink-700);
    --color-primary-dark-50: hsl(330 43% 47% / 50%); /* Was 50% hotpink-700 */
    --color-secondary: var(--color-bluelotus-500);
    --color-tertiary: var(--color-lightgreenishblue-500);
    --color-accent: var(--color-sandyyellow-500);

    --color-background: var(--color-gray-50);
    --color-text: #ffffff;
    --color-link: var(--color-hotpink-200);
    --color-link-hover: var(--color-bluelotus-200);
    --color-link-visited: var(--color-lightgreenishblue-200);

    --color-header-1: hsl(0 0% 5% / 95%); /* Was 95% gray-50*/
    --color-header-2: hsl(0 0% 20% / 95%); /* Was 95% gray-200 */

    --spacing-internal: 0.25rem;
    --spacing-edges: 0.5rem;
    --spacing-buttons: 0.5rem;
    --spacing-inner: 1rem;
    --spacing-outer: 2rem;
}

.pointer-events-none {
    pointer-events: none;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.flex {
    display: flex;
}

.table {
    display: table;
}

.contents {
    display: contents;
}

.hidden {
    display: none;
}

.w-80 {
    width: 20rem;
}

.w-full {
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
    resize: both;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-end {
    justify-content: flex-end;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 0.75rem;
}

.border {
    border-width: 1px;
}

.p-1 {
    padding: 0.25rem;
}

.p-4 {
    padding: 1rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.italic {
    font-style: italic;
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: hsl(0 0% 50% / var(--tw-text-opacity, 1));
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

body {
    margin-inline: auto;
    width: min(1080px, 90%);
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-background);
    font-family: 'Roboto Mono';
    color: var(--color-text);
}

header-container {
    display: block;
    background-image: linear-gradient(
        to bottom right,
        var(--color-header-1) 0%,
        var(--color-header-1) 15%,
        var(--color-header-2) 100%
    );
}

header-links {
    display: flex;
    padding-block-start: var(--spacing-edges);
}

header-links a svg {
    fill: currentColor;
}

header-links a:hover svg,
header-links a:focus svg {
    fill: var(--color-primary);
}

social-container {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-buttons);
}

menu-container {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-edges);
}

#flip-logo {
    fill: var(--color-background);
    stroke: var(--color-header-2);
}

#flip-logo > rect {
    transform-origin: var(--center);
}

#flip-logo > .flipped {
    animation: var(--delay) flipped 0.3s linear forwards;
}

/* #flip-logo > .hovered,
#flip-logo > .hovered-adjacent,
#flip-logo > .hovered-corner {
    fill: var(--color-secondary);
} */

#flip-logo > .flipped.hovered,
#flip-logo > .flipped.hovered-adjacent,
#flip-logo > .flipped.hovered-corner {
    fill: var(--color-tertiary) !important;
}

.hovered {
    filter: brightness(1.5);
}

.hovered-adjacent {
    filter: brightness(1.25);
}

.hovered-corner {
    filter: brightness(0.9);
}

@keyframes flipped {
    50% {
        transform: rotateY(90deg);
        fill: var(--color-background);
    }
    51% {
        transform: rotateY(91.8deg);
        fill: var(--color-primary);
    }
    100% {
        transform: rotateY(180deg);
        fill: var(--color-primary);
    }
}

.tagline {
    margin-block: var(--spacing-edges) var(--spacing-inner);
    border-top: 2px var(--color-primary-50) solid;
    padding: var(--spacing-edges);
    font-style: italic;
}

content-container {
    display: block;
    padding-inline: var(--spacing-edges);
}

main {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

::-moz-selection {
    background-color: var(--color-primary);
    color: var(--color-background);
}

::selection,
::-moz-selection {
    background-color: var(--color-primary);
    color: var(--color-background);
}

main a {
    color: var(--color-link);
}

main p a {
    position: relative;
    text-shadow: 2px 2px var(--color-background);

    --color-hsl-highlighter: 330, 88%, 67%;
    background-image:
        linear-gradient(104deg,
            hsla(var(--color-hsl-highlighter), 0) 0.9%,
            hsla(var(--color-hsl-highlighter), 1.25) 2.4%,
            hsla(var(--color-hsl-highlighter), 0.5) 5.8%,
            hsla(var(--color-hsl-highlighter), 0.1) 93%,
            hsla(var(--color-hsl-highlighter), 0.7) 96%,
            hsla(var(--color-hsl-highlighter), 0) 98%),
        linear-gradient(183deg,
            hsla(var(--color-hsl-highlighter), 0) 0%,
            hsla(var(--color-hsl-highlighter), 0.3) 7.9%,
            hsla(var(--color-hsl-highlighter), 0) 15%);
    padding: 0.1em 13.7px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    border-radius: 0.46875rem;
}

main p a:visited {
    color: var(--color-link-visited);
}

main a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
}

main p a:hover {
    --color-hsl-highlighter: 244, 79%, 65%;
}

footer {
    margin-top: var(--spacing-outer);
    padding-inline: var(--spacing-edges);
    text-align: center;
    font-style: italic;
}

h1 {
    display: inline-block;
    font-size: 4rem;
    line-height: 1em;
    margin-block-end: var(--spacing-buttons);
}

h2 {
    margin-block: var(--spacing-inner);
    font-family: 'Press Start 2P';
    font-size: 1.5em;
}

main h2::before {
    margin-inline-end: var(--spacing-internal);
    content: '>';
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 1.4em 0.667em;
}

p {
    margin-block: 1em;
}

.weak {
    font-size: 0.9em;
    opacity: 0.5;
}

ol.numbered {
    max-width: 50%;
    padding-inline-start: 3.15em;
    list-style: none none 0;
    counter-reset: custom-counter;
}

ol.numbered > li {
    position: relative;
    margin-block: 0.35em;
    counter-increment: custom-counter;
    min-height: 2.25em;
    transition: transform 0.5s;
}

ol.numbered > li::before {
    position: absolute;
    content: counter(custom-counter);
    font-family: 'Jersey10';
    font-size: 1.5em;
    top: 0;
    left: -1.9em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: var(--color-primary);
    text-shadow: 2px 2px 1px var(--color-background);
    box-shadow: 1.25px 1.25px 1px 0 var(--color-text);
    line-height: 1.5em;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    transform: rotate(-15deg);
    transition:
        background-color 0.5s,
        color 0.5s,
        text-shadow 0.5s;
}

ol.numbered > li:hover {
    transform: translateX(1em);
}

ol.numbered > li:hover::before {
    background-color: var(--color-primary-dark);
    color: var(--color-background);
    text-shadow: 2px 2px 1px var(--color-text);
}

/* header {
    position: relative;
    overflow: hidden;
}

header * {
    z-index: 1;
}
    
header::before {
    position: absolute;
    top: 0;
    inset-inline: 0;
    height: 4px;
    background-image: linear-gradient(
        90deg,
        #ff0000 0%,
        #00ff00 50%,
        #0000ff 100%
    );
    content: '';
} */

.btn {
    padding: 0.5em 1.5em;
    border: 1px solid currentColor;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:disabled, .btn.disabled {
    background-color: var(--color-gray-300);
    color: var(--color-gray-100);
}

.btn-login:not(:disabled):not(.disabled):hover {
    background-color: var(--color-hotpink-500);
    color: black;

}

.links a img {
    transition:
        transform 0.2s,
        filter 0.5s,
        box-shadow 0.5s;
}

.links a:hover img {
    transform: scale(1.2);
    filter: brightness(1.5);
    box-shadow: 0px 0px 16px 4px var(--color-primary-50);
}

about-me {
    display: block;
    margin-top: 2em;
}

about-me ul {
    outline: 1px var(--color-accent) solid;
    border: 2px var(--color-header-2) solid;
    border-radius: 0.5em 0.5em 0 0;
    overflow: hidden;
    display: block flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

about-me li {
    background-color: var(--color-text);
    color: var(--color-background);
    padding-inline: 0.5em;
    padding-block: 0.2em;
    flex-grow: 1;
    text-align: center;
}

about-me li:has(input:checked) {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-weight: 800;
}

about-me li:has(label:hover) {
    background-color: var(--color-primary-light);
    color: var(--color-background)
}

about-me input[name=about-me] {
    display: none;
}

about-me label {
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

about-me-content {
    display: block;
    outline: 1px var(--color-accent) solid;
    border: 2px var(--color-header-2) solid;
    padding: 1em;
}

about-me-content h3 {
    margin-block: 0 0.667em;
}

about-me-content section {
    animation: about-me-content 0.8s ease-in-out;
}

@keyframes about-me-content {
    from { opacity: 0; }
}

@media all and (min-width: 55rem) {
    header-container {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding-inline: var(--spacing-outer);
    }

    header-links {
        justify-content: space-between;
    }

    menu-container {
        margin-top: var(--spacing-inner);
    }

    mobile-title,
    mobile-menu  {
        display: none;
    }
}

@media not all and (min-width: 55rem) {
    body {
        width: 100%;
    }

    header {
        position: sticky;
        top: 0;
        margin-bottom: 1rem;
        z-index: 10;
    }

    header-container {
        padding-inline: var(--spacing-edges);
    }

    header-links {
        justify-content: center;
    }

    social-container {
        gap: var(--spacing-inner);
    }

    home-wrapper,
    desktop-title,
    desktop-menu,
    sub-menu {
        display: none;
    }

    menu-container {
        padding-inline-start: var(--spacing-edges);
    }

    mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    content-container {
        margin-block: var(--spacing-outer);
        padding-inline: var(--spacing-inner);
    }

    h1 {
        margin-block-start: 0.75rem;
        font-size: clamp(2rem, 10vw + 0.25rem, 64px);
    }

    h2 {
        font-size: 1.5em;
    }
    
    ol.numbered {
        max-width: 75%;
    }
}

@media not all and (min-width: 37.5rem) {
    ol.numbered {
        max-width: calc(100% - 1em);
    }

    .links div {
        text-align: center;
    }
}

@media not all and (min-width: 37.5rem) {

    .max-md\:flex-row {
        flex-direction: row;
    }

    .max-md\:flex-wrap {
        flex-wrap: wrap;
    }

    .max-md\:justify-center {
        justify-content: center;
    }

    .max-md\:rounded-lg {
        border-radius: 0.5rem;
    }

    .max-md\:bg-hotpink-950 {
        --tw-bg-opacity: 1;
        background-color: hsl(331 42% 14% / var(--tw-bg-opacity, 1));
    }

    .max-md\:p-2 {
        padding: 0.5rem;
    }
}

@media (min-width: 37.5rem) {

    .grid-cols-sidebar-right {
        display: grid;
        grid-template-columns: 1fr var(--sidebar-width, 120px);
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }

    .md\:flex-col {
        flex-direction: column;
    }

    .md\:items-center {
        align-items: center;
    }
}