#mobile-menu-contents {
    position: fixed;
    inset: 0 5rem 0 0;
    background-color: var(--color-hotpink-700);
    transform: translateX(-100%);
}

#mobile-menu-contents.shown {
    pointer-events: auto;
    transform: translateX(0);
}

.show-mobile-menu {
    animation: show-mobile-menu 0.5s ease-in-out forwards;
}

.hide-mobile-menu {
    animation: hide-mobile-menu 0.5s ease-in-out forwards;
}

@keyframes show-mobile-menu {
    0%      { transform: translateX(-100%); }
    100%    { transform: translateX(0); }
}

@keyframes hide-mobile-menu {
    0%      { transform: translateX(0); }
    100%    { transform: translateX(-100%);}
}

#mobile-menu-contents ul {
    margin-inline-start: 1em;
}

#mobile-menu-button svg {
    overflow: visible;
}

#svg-rect-top-hilt,
#svg-rect-top-blade {
    transform-origin: 85% 18% 0;
}

#svg-rect-mid-hilt,
#svg-rect-mid-blade {
    transform-origin: 15% 50% 0;
}

#svg-rect-low-hilt,
#svg-rect-low-blade {
    transform-origin: 85% 82% 0;
}

.animating svg * {
    animation: var(--animation) 1s ease-out forwards;
}

@keyframes first-top-blade {
    0% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(100%, 100%);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(0%, 33%);
    }
    100% {
        transform:
            rotateZ(90deg)
            translate(67%, 67%)
            scale(0%, 33%);
    }
}

@keyframes first-top-hilt {
    0% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    100% {
        transform:
            rotateZ(90deg)
            translate(67%, 67%);
    }
}

@keyframes first-mid-blade {
    0% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(100%, 100%);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(0%, 33%);
    }
    100% {
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%)
            scale(0%, 33%);
    }
}

@keyframes first-mid-hilt {
    0% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    100% {
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%);
    }
}

@keyframes first-low-blade {
    0% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(100%, 100%);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(0%, 33%);
    }
    100% {
        transform:
            rotateZ(90deg)
            translate(3%, 3%)
            scale(0%, 33%);
    }
}

@keyframes first-low-hilt {
    0% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    100% {
        transform:
            rotateZ(90deg)
            translate(3%, 3%);
    }
}

.active svg * {
    --color-hilt: darkgrey;
    --color-blade-1: rgb(255, 76, 76);
    --color-blade-2: rgb(76, 255, 76);
    --color-blade-3: rgb(76, 76, 255);
    animation: var(--animation) 1s ease-out forwards;
}

@keyframes second-top-blade {
    0% {
        fill: var(--color-blade-1);
        transform:
            rotateZ(90deg)
            translate(67%, 67%)
            scale(0%, 33%);
    }
    50% {
        fill: var(--color-blade-1);
        transform:
            rotateZ(90deg)
            translate(67%, 67%)
            scale(0%, 33%);
    }
    100% {
        fill: var(--color-blade-1);
        transform:
            rotateZ(90deg)
            translate(67%, 67%)
            scale(100%, 100%);
    }
}

@keyframes second-top-hilt {
    0% {
        fill: white;
        transform:
            rotateZ(90deg)
            translate(67%, 67%);
    }
    50% {
        fill: var(--color-hilt);
        transform:
            rotateZ(90deg)
            translate(67%, 67%);
    }
    100% {
        fill: var(--color-hilt);
        transform:
            rotateZ(90deg)
            translate(67%, 67%);
    }
}

@keyframes second-mid-blade {
    0% {
        fill: var(--color-blade-2);
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%)
            scale(0%, 33%);
    }
    50% {
        fill: var(--color-blade-2);
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%)
            scale(0%, 33%);
    }
    100% {
        fill: var(--color-blade-2);
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%)
            scale(100%, 100%);
    }
}

@keyframes second-mid-hilt {
    0% {
        fill: white;
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%);
    }
    50% {
        fill: var(--color-hilt);
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%);
    }
    100% {
        fill: var(--color-hilt);
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%);
    }
}

@keyframes second-low-blade {
    0% {
        fill: var(--color-blade-3);
        transform:
            rotateZ(90deg)
            translate(3%, 3%)
            scale(0%, 33%);
    }
    50% {
        fill: var(--color-blade-3);
        transform:
            rotateZ(90deg)
            translate(3%, 3%)
            scale(0%, 33%);
    }
    100% {
        fill: var(--color-blade-3);
        transform:
            rotateZ(90deg)
            translate(3%, 3%)
            scale(100%, 100%);
    }
}

@keyframes second-low-hilt {
    0% {
        fill: white;
        transform:
            rotateZ(90deg)
            translate(3%, 3%);
    }
    50% {
        fill: var(--color-hilt);
        transform:
            rotateZ(90deg)
            translate(3%, 3%);
    }
    100% {
        fill: var(--color-hilt);
        transform:
            rotateZ(90deg)
            translate(3%, 3%);
    }
}