blog-view-component {
    font-size: inherit;
}

blog-posts {
    display: flex block;
    flex-direction: column;
    gap: var(--size-l);
    align-items: center;
    margin-block: var(--size-l);
}

blog-posts article {
    display: block flex;
    flex-direction: column;
    gap: var(--size-m);
    width: 100%;
}

article-header {
    display: block;
    position: relative;

    padding-right: var(--size-l);
}

.article-pin {
    display: none;
}

.article-pinned .article-pin {
    display: inline;
}

article-byline {
    display: block flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-s);
}

blog-posts article:not(:hover, :focus-within) article-toolbar {
    display: none;
}

article-toolbar {
    position: absolute;
    top: 0;
    right: 0;
    display: block flex;
    flex-direction: row;
    gap: var(--size-xs);
}

article-content {
    &>:first-child {
        margin-block-start: 0;
    }

    &>:last-child {
        margin-block-end: 0;
    }
}

.nav-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--size-xs);

    &[disabled] {
        pointer-events: none;
    }

    & a {
        display: inline-block;
        min-width: 3ch;
        border-radius: var(--size-xs);
        text-align: center;
        vertical-align: middle;
        transition:
            background-color 1s,
            transform 1s,
            font-weight 1s,
            color 1s;

        &:hover,
        &:focus-visible {
            background-color: var(--clr-primary-50);
        }

        &.active {
            pointer-events: none;
            background-color: var(--clr-primary);
            transform: scale(1.1);
            font-weight: 700;
            color: black;
        }
    }

    & svg {
        margin: auto;
    }

    & [disabled] {
        opacity: 0.75;
    }
}