pagination-component {
    font-size: inherit;
}

.pagination__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--size-xs);

    &[disabled] {
        pointer-events: none;
    }

    & a {
        display: inline-block;
        min-width: 3ch;
        border-radius: var(--size-xs);
        text-align: center;
        vertical-align: middle;
        transition:
            background-color 1s,
            transform 1s,
            font-weight 1s,
            color 1s;

        &:hover,
        &:focus-visible {
            background-color: var(--clr-primary-50);
        }

        &.active {
            pointer-events: none;
            background-color: var(--clr-primary);
            transform: scale(1.1);
            font-weight: 700;
            color: black;
        }
    }

    & svg {
        margin: auto;
    }

    & [disabled] {
        opacity: 0.75;
    }
}