@layer base {
    :root {
        --color-hotpink-50: hsl(330, 88%, 93%);
        --color-hotpink-100: hsl(331, 88%, 90%);
        --color-hotpink-200: hsl(330, 88%, 83%);
        --color-hotpink-300: hsl(330, 88%, 77%);
        --color-hotpink-400: hsl(330, 88%, 70%);
            --color-hotpink-500: hsl(330, 88%, 67%);
        --color-hotpink-600: hsl(330, 65%, 60%);
        --color-hotpink-700: hsl(330, 43%, 47%);
        --color-hotpink-800: hsl(330, 43%, 34%);
        --color-hotpink-900: hsl(330, 43%, 20%);
        --color-hotpink-950: hsl(331, 42%, 14%);

        --color-sandyyellow-50: hsl(54, 93%, 94%);
        --color-sandyyellow-100: hsl(53, 95%, 91%);
        --color-sandyyellow-200: hsl(53, 97%, 86%);
        --color-sandyyellow-300: hsl(53, 96%, 80%);
        --color-sandyyellow-400: hsl(53, 97%, 75%);
            --color-sandyyellow-500: hsl(53, 97%, 72%);
        --color-sandyyellow-600: hsl(53, 69%, 65%);
        --color-sandyyellow-700: hsl(53, 38%, 50%);
        --color-sandyyellow-800: hsl(53, 38%, 36%);
        --color-sandyyellow-900: hsl(53, 38%, 22%);
        --color-sandyyellow-950: hsl(53, 37%, 14%);

        --color-lightgreenishblue-50: hsl(154, 88%, 93%);
        --color-lightgreenishblue-100: hsl(153, 92%, 90%);
        --color-lightgreenishblue-200: hsl(153, 90%, 84%);
        --color-lightgreenishblue-300: hsl(153, 91%, 77%);
        --color-lightgreenishblue-400: hsl(153, 91%, 71%);
            --color-lightgreenishblue-500: hsl(153, 90%, 68%);
        --color-lightgreenishblue-600: hsl(153, 68%, 61%);
        --color-lightgreenishblue-700: hsl(153, 43%, 47%);
        --color-lightgreenishblue-800: hsl(153, 43%, 34%);
        --color-lightgreenishblue-900: hsl(153, 42%, 20%);
        --color-lightgreenishblue-950: hsl(153, 42%, 14%);

        --color-bluelotus-50: hsl(244, 79%, 93%);
        --color-bluelotus-100: hsl(244, 82%, 89%);
        --color-bluelotus-200: hsl(244, 80%, 82%);
        --color-bluelotus-300: hsl(244, 81%, 75%);
        --color-bluelotus-400: hsl(244, 80%, 68%);
            --color-bluelotus-500: hsl(244, 79%, 65%);
        --color-bluelotus-600: hsl(244, 60%, 58%);
        --color-bluelotus-700: hsl(244, 43%, 45%);
        --color-bluelotus-800: hsl(244, 43%, 33%);
        --color-bluelotus-900: hsl(244, 43%, 19%);
        --color-bluelotus-950: hsl(244, 42%, 13%);
    }
}