@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-light: theme(colors.hotpink.300);
        --color-primary: theme(colors.hotpink.500);
        --color-primary-50: theme(colors.hotpink.500 / 50%);
        --color-primary-dark: theme(colors.hotpink.700);
        --color-primary-dark-50: theme(colors.hotpink.700 / 50%);
        --color-secondary: theme(colors.bluelotus.500);
        --color-tertiary: theme(colors.lightgreenishblue.500);
        --color-accent: theme(colors.sandyyellow.500);

        --color-background: theme(colors.gray.50);
        --color-text: theme(colors.white);
        --color-link: theme(colors.hotpink.200);
        --color-link-hover: theme(colors.bluelotus.200);

        --color-header-1: theme(colors.gray.50 / 95%);
        --color-header-2: theme(colors.gray.200 / 95%);
    }
}

body {
    margin-inline: auto;
    width: min(1080px, 90%);
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-background);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--color-text);
}

header-container {
    display: block;
    background-image: linear-gradient(
        to bottom right,
        var(--color-header-1) 0%,
        var(--color-header-1) 15%,
        var(--color-header-2) 100%
    );
}

header-links {
    display: flex;
    padding-block-start: 0.5rem;
    gap: 0.5rem;
}

social-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

menu-container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.tagline {
    margin-block: 0.25rem 1rem;
    width: fit-content;
    border-top: 2px var(--color-primary-50) solid;
    padding: 0.25rem;
    font-style: italic;
}

content-container {
    display: block;
    padding-inline: 0.5rem;
}

main {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

footer {
    margin-top: 1rem;
    padding-inline: 0.5rem;
    text-align: center;
    font-style: italic;
}

h1 {
    display: inline-block;
    font-size: 3em;
    line-height: 1em;
    margin-block-end: 0.2em;
}

h2 {
    margin-block: 0.25em;
    font-family: 'Press Start 2P';
    font-size: 1.5em;
}

main h2::before {
    margin-inline-end: 0.25em;
    content: '>';
}

h3 {
    margin-block: 0.5em 0.25em;
    font-size: 1.5em;
    font-weight: 600;
}

p {
    margin-block: 1em;
}

main i,
main em {
    --color-hsl-highlighter: 244, 79%, 65%;

    background-image:
        linear-gradient(104deg,
            hsla(var(--color-hsl-highlighter), 0) 0.9%,
            hsla(var(--color-hsl-highlighter), 1.25) 2.4%,
            hsla(var(--color-hsl-highlighter), 0.5) 5.8%,
            hsla(var(--color-hsl-highlighter), 0.1) 93%,
            hsla(var(--color-hsl-highlighter), 0.7) 96%,
            hsla(var(--color-hsl-highlighter), 0) 98%),
        linear-gradient(183deg,
            hsla(var(--color-hsl-highlighter), 0) 0%,
            hsla(var(--color-hsl-highlighter), 0.3) 7.9%,
            hsla(var(--color-hsl-highlighter), 0) 15%);
    padding: 0.1em 13.7px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    border-radius: 7.5px;
}

main .highlight-green {
    --color-hsl-highlighter: 153, 90%, 68%;
}

main .highlight-pink {
    --color-hsl-highlighter: 330, 88%, 67%;
}

content-container a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

a svg {
    fill: var(--color-text);
}

a:hover svg,
a:focus svg {
    fill: currentColor;
}

ol.numbered {
    max-width: 50%;
    padding-inline-start: 3.15em;
    list-style: none none 0;
    counter-reset: custom-counter;
}

ol.numbered > li {
    position: relative;
    margin-block: 0.35em;
    counter-increment: custom-counter;
    min-height: 2.25em;
    transition: transform 0.5s;
}

ol.numbered > li::before {
    position: absolute;
    content: counter(custom-counter);
    font-family: 'Jersey10';
    font-size: 1.5em;
    top: 0;
    left: -1.9em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: var(--color-primary);
    text-shadow: 2px 2px 1px var(--color-background);
    box-shadow: 1.25px 1.25px 1px 0 var(--color-text);
    line-height: 1.5em;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    transform: rotate(-15deg);
    transition:
        background-color 0.5s,
        color 0.5s,
        text-shadow 0.5s;
}

ol.numbered > li:hover {
    transform: translateX(1em);
}

ol.numbered > li:hover::before {
    background-color: var(--color-primary-dark);
    color: var(--color-background);
    text-shadow: 2px 2px 1px var(--color-text);
}

/* header {
    position: relative;
    overflow: hidden;
}

header * {
    z-index: 1;
}
    
header::before {
    position: absolute;
    top: 0;
    inset-inline: 0;
    height: 4px;
    background-image: linear-gradient(
        90deg,
        #ff0000 0%,
        #00ff00 50%,
        #0000ff 100%
    );
    content: '';
} */

.btn {
    padding: 0.5em 1.5em;
    border: 1px solid currentColor;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.links a img {
    transition:
        transform 0.2s,
        filter 0.5s,
        box-shadow 0.5s;
}

.links a:hover img {
    transform: scale(1.2);
    filter: brightness(1.5);
    box-shadow: 0px 0px 16px 4px var(--color-primary-50);
}

@media all and (min-width: 55rem) {
    header-container {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding-inline: 2.5rem;
    }

    header-links {
        justify-content: space-between;
    }

    menu-container {
        margin-top: 1.5rem;
    }

    mobile-title,
    mobile-menu  {
        display: none;
    }
}

@media not all and (min-width: 55rem) {
    body {
        width: 100%;
    }

    header {
        position: sticky;
        top: 0;
        margin-bottom: 1rem;
        z-index: 10;
    }

    header-container {
        padding-inline: 0.5rem;
    }

    header-links {
        justify-content: center;
    }

    social-container {
        gap: 1rem;
    }

    home-wrapper,
    desktop-title,
    desktop-menu,
    sub-menu {
        display: none;
    }

    menu-container {
        padding-inline-start: 0.5rem;
    }

    content-container {
        padding-inline: 1rem
    }

    h1 {
        margin-block-start: 0.75rem;
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.125em;
    }
    
    ol.numbered {
        max-width: 75%;
    }
}

@media not all and (min-width: 37.5rem) {
    ol.numbered {
        max-width: calc(100% - 1em);
    }

    .links div {
        text-align: center;
    }
}