@import url('./fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-hotpink-50: hsl(328, 81%, 96%);
    --color-hotpink-100: hsl(330, 85%, 92%);
    --color-hotpink-200: hsl(330, 87%, 85%);
    --color-hotpink-300: hsl(330, 88%, 77%);
    --color-hotpink-400: hsl(330, 87%, 70%);
    --color-hotpink-500: hsl(330, 88%, 67%);
    --color-hotpink-600: hsl(330, 64%, 59%);
    --color-hotpink-700: hsl(330, 47%, 52%);
    --color-hotpink-800: hsl(330, 44%, 44%);
    --color-hotpink-900: hsl(330, 44%, 37%);
    --color-hotpink-950: hsl(330, 44%, 29%);

    --color-sandyyellow-500: hsl(53, 97%, 72%);

    --color-lightgreenishblue-500: hsl(153, 90%, 68%);

    --color-bluelotus-500: hsl(244, 79%, 65%);

    font-size: 16px;
}

body {
    overflow-x: hidden;
    background-color: #111;
    color: white;
    margin-inline: auto;
    width: min(1080px, 90%);
    min-height: 100vh;
}

h1 {
    font-size: 2em;
}

/* header {
    position: relative;
    overflow: hidden;
}

header * {
    z-index: 1;
}
    
header::before {
    position: absolute;
    top: 0;
    inset-inline: 0;
    height: 4px;
    background-image: linear-gradient(
        90deg,
        #ff0000 0%,
        #00ff00 50%,
        #0000ff 100%
    );
    content: '';
} */

.btn {
    padding: 0.5em 1.5em;
    border: 1px solid currentColor;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-menu {
    border-radius: 9999px;
    background-color: var(--color-hotpink-500);
    color: white;
    border: 2px solid transparent;
    font-family: 'Press Start 2P';
    font-weight: 100;
    font-size: .875rem;
}

.btn-menu:hover, .btn-menu.selected {
    background-color: var(--color-hotpink-300);
    color: black;
    border-color: white;
}


.show-menu {
    --animation-name: show-menu;
}

.hide-menu {
    --animation-name: hide-menu;
}

.show-menu, .hide-menu {
    overflow: hidden;
    cursor: default;
    pointer-events: none;
    animation: var(--animation-name) 0.5s ease-in-out backwards;
}

.show-menu * {
    opacity: 0;
}

@keyframes show-menu {
    0%      { max-height: 0; }
    100%    { max-height: 8rem; }
}

@keyframes hide-menu {
    0% {
        max-height: 8rem;
        opacity: 1;
    }
    100% {
        max-height: 0;
        opacity: 0;
    }
}

.list-cards {
    --items-per-row: 3;
    --gap: 0.5rem;
}

.list-cards:not(.hidden) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
}

.list-cards > .card {
    width: calc((100% / var(--items-per-row)) - ((var(--items-per-row) - 1) * var(--gap)));
    height: 6rem;
    cursor: pointer;
}

.list-cards:not(.show-menu) > .card {
    --animation-delay: 0s;
    animation: slide-in 1s ease-out var(--animation-delay) backwards;
}

@keyframes slide-in {
    0%      { transform: translate(100vw); /*100vw*/ }
    100%    { transform: translate(0); }
}

.card {
    position: relative;
    perspective: 1000px;
}

.card-inner {
    position: absolute;
    inset: 0;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:has(.card-back):hover .card-inner {
    transform: rotateY(-180deg);
}

.card-front, .card-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    backface-visibility: hidden;
    overflow: hidden;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 1rem;
    background: linear-gradient(to bottom right, var(--color-hotpink-500), var(--color-bluelotus-500));
    padding: 0.25rem 0.5rem;
}

.card-back {
    transform: rotateY(180deg);
}