@import './fonts.css';

:root {
    --screens-sm: 20rem;
    --screens-md: 37.5rem;
    --screens-lg: 55rem;

    --clrval-gray-50:   hsl(0, 0%, 5%);
    --clrval-gray-100:  hsl(0, 0%, 10%);
    --clrval-gray-200:  hsl(0, 0%, 20%);
    --clrval-gray-300:  hsl(0, 0%, 30%);
    --clrval-gray-400:  hsl(0, 0%, 40%);
    --clrval-gray-500:  hsl(0, 0%, 50%);
    --clrval-gray-600:  hsl(0, 0%, 60%);
    --clrval-gray-700:  hsl(0, 0%, 70%);
    --clrval-gray-800:  hsl(0, 0%, 80%);
    --clrval-gray-900:  hsl(0, 0%, 90%);
    --clrval-gray-950:  hsl(0, 0%, 95%);

    --clrval-hotpink-50:   hsl(330, 88%, 93%);
    --clrval-hotpink-100:  hsl(331, 88%, 90%);
    --clrval-hotpink-200:  hsl(330, 88%, 83%);
    --clrval-hotpink-300:  hsl(330, 88%, 77%);
    --clrval-hotpink-400:  hsl(330, 88%, 70%);
    --clrval-hotpink-500:  hsl(330, 88%, 67%);
    --clrval-hotpink-600:  hsl(330, 65%, 60%);
    --clrval-hotpink-700:  hsl(330, 43%, 47%);
    --clrval-hotpink-800:  hsl(330, 43%, 34%);
    --clrval-hotpink-900:  hsl(330, 43%, 20%);
    --clrval-hotpink-950:  hsl(331, 42%, 14%);

    --clrval-sandyyellow-50:   hsl(54, 93%, 94%);
    --clrval-sandyyellow-100:  hsl(53, 95%, 91%);
    --clrval-sandyyellow-200:  hsl(53, 97%, 86%);
    --clrval-sandyyellow-300:  hsl(53, 96%, 80%);
    --clrval-sandyyellow-400:  hsl(53, 97%, 75%);
    --clrval-sandyyellow-500:  hsl(53, 97%, 72%);
    --clrval-sandyyellow-600:  hsl(53, 69%, 65%);
    --clrval-sandyyellow-700:  hsl(53, 38%, 50%);
    --clrval-sandyyellow-800:  hsl(53, 38%, 36%);
    --clrval-sandyyellow-900:  hsl(53, 38%, 22%);
    --clrval-sandyyellow-950:  hsl(53, 37%, 14%);

    --clrval-lighgreenishblue-50:   hsl(154, 88%, 93%);
    --clrval-lighgreenishblue-100:  hsl(153, 92%, 90%);
    --clrval-lighgreenishblue-200:  hsl(153, 90%, 84%);
    --clrval-lighgreenishblue-300:  hsl(153, 91%, 77%);
    --clrval-lighgreenishblue-400:  hsl(153, 91%, 71%);
    --clrval-lighgreenishblue-500:  hsl(153, 90%, 68%);
    --clrval-lighgreenishblue-600:  hsl(153, 68%, 61%);
    --clrval-lighgreenishblue-700:  hsl(153, 43%, 47%);
    --clrval-lighgreenishblue-800:  hsl(153, 43%, 34%);
    --clrval-lighgreenishblue-900:  hsl(153, 42%, 20%);
    --clrval-lighgreenishblue-950:  hsl(153, 42%, 14%);

    --clrval-bluelotus-50:   hsl(244, 79%, 93%);
    --clrval-bluelotus-100:  hsl(244, 82%, 89%);
    --clrval-bluelotus-200:  hsl(244, 80%, 82%);
    --clrval-bluelotus-300:  hsl(244, 81%, 75%);
    --clrval-bluelotus-400:  hsl(244, 80%, 68%);
    --clrval-bluelotus-500:  hsl(244, 79%, 65%);
    --clrval-bluelotus-600:  hsl(244, 60%, 58%);
    --clrval-bluelotus-700:  hsl(244, 43%, 45%);
    --clrval-bluelotus-800:  hsl(244, 43%, 33%);
    --clrval-bluelotus-900:  hsl(244, 43%, 19%);
    --clrval-bluelotus-950:  hsl(244, 42%, 13%);
}

body {
    --clr-primary-light: var(--clrval-hotpink-300);
    --clr-primary: var(--clrval-hotpink-500);
    --clr-primary-50: hsl(330 88% 67% / 50%); /* Was 50% hotpink-500 */
    --clr-primary-dark: var(--clrval-hotpink-700);
    --clr-primary-dark-50: hsl(330 43% 47% / 50%); /* Was 50% hotpink-700 */
    --clr-secondary: var(--clrval-bluelotus-500);
    --clr-tertiary: var(--clrval-lighgreenishblue-500);
    --clr-accent: var(--clrval-sandyyellow-500);

    --clr-bg: var(--clrval-gray-50);
    --clr-text: #ffffff;
    --clr-link: var(--clrval-hotpink-200);
    --clr-link-hover: var(--clrval-bluelotus-200);
    --clr-link-visited: var(--clrval-lighgreenishblue-200);

    --clr-header-1: hsl(0 0% 5% / 95%); /* Was 95% gray-50*/
    --clr-header-2: hsl(0 0% 20% / 95%); /* Was 95% gray-200 */

    --spacing-internal: 0.25rem;
    --spacing-edges: 0.5rem;
    --spacing-buttons: 0.5rem;
    --spacing-inner: 1rem;
    --spacing-outer: 2rem;
}

body {
    margin-inline: auto;
    width: min(1080px, 90%);
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--clr-bg);
    font-family: 'Roboto Mono';
    color: var(--clr-text);
}

header-container {
    display: block;
    background-image: linear-gradient(
        to bottom right,
        var(--clr-header-1) 0%,
        var(--clr-header-1) 15%,
        var(--clr-header-2) 100%
    );
}

header-links {
    display: flex;
    padding-block-start: var(--spacing-edges);
}

header-links a svg {
    fill: currentColor;
}

header-links a:hover svg,
header-links a:focus svg {
    fill: var(--clr-primary);
}

social-container {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-buttons);
}

menu-container {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-edges);
}

#flip-logo {
    fill: var(--clr-bg);
    stroke: var(--clr-header-2);
}

#flip-logo > rect {
    transform-origin: var(--center);
}

#flip-logo > .flipped {
    animation: var(--delay) flipped 0.3s linear forwards;
}

/* #flip-logo > .hovered,
#flip-logo > .hovered-adjacent,
#flip-logo > .hovered-corner {
    fill: var(--clr-secondary);
} */

#flip-logo > .flipped.hovered,
#flip-logo > .flipped.hovered-adjacent,
#flip-logo > .flipped.hovered-corner {
    fill: var(--clr-tertiary) !important;
}

.hovered {
    filter: brightness(1.5);
}

.hovered-adjacent {
    filter: brightness(1.25);
}

.hovered-corner {
    filter: brightness(0.9);
}

@keyframes flipped {
    50% {
        transform: rotateY(90deg);
        fill: var(--clr-bg);
    }
    51% {
        transform: rotateY(91.8deg);
        fill: var(--clr-primary);
    }
    100% {
        transform: rotateY(180deg);
        fill: var(--clr-primary);
    }
}

.tagline {
    margin-block: var(--spacing-edges) var(--spacing-inner);
    border-top: 2px var(--clr-primary-50) solid;
    padding: var(--spacing-edges);
    font-style: italic;
}

content-container {
    display: block;
    padding-inline: var(--spacing-edges);
}

main {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

::selection,
::-moz-selection {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
}

main a {
    color: var(--clr-link);
}

main p a {
    position: relative;
    text-shadow: 2px 2px var(--clr-bg);

    --clr-hsl-highlighter: 330, 88%, 67%;
    background-image:
        linear-gradient(104deg,
            hsla(var(--clr-hsl-highlighter), 0) 0.9%,
            hsla(var(--clr-hsl-highlighter), 1.25) 2.4%,
            hsla(var(--clr-hsl-highlighter), 0.5) 5.8%,
            hsla(var(--clr-hsl-highlighter), 0.1) 93%,
            hsla(var(--clr-hsl-highlighter), 0.7) 96%,
            hsla(var(--clr-hsl-highlighter), 0) 98%),
        linear-gradient(183deg,
            hsla(var(--clr-hsl-highlighter), 0) 0%,
            hsla(var(--clr-hsl-highlighter), 0.3) 7.9%,
            hsla(var(--clr-hsl-highlighter), 0) 15%);
    padding: 0.1em 13.7px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    border-radius: 0.46875rem;
}

main p a:visited {
    color: var(--clr-link-visited);
}

main a:hover {
    color: var(--clr-link-hover);
    text-decoration: underline;
}

main p a:hover {
    --clr-hsl-highlighter: 244, 79%, 65%;
}

footer {
    margin-top: var(--spacing-outer);
    padding-inline: var(--spacing-edges);
    text-align: center;
    font-style: italic;
}

h1 {
    display: inline-block;
    font-size: 4rem;
    line-height: 1em;
    margin-block-end: var(--spacing-buttons);
}

h2 {
    margin-block: var(--spacing-inner);
    font-family: 'Press Start 2P';
    font-size: 1.5em;
}

main h2::before {
    margin-inline-end: var(--spacing-internal);
    content: '>';
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 1.4em 0.667em;
}

p {
    margin-block: 1em;
}

.weak {
    font-size: 0.9em;
    opacity: 0.5;
}

ol.numbered {
    max-width: 50%;
    padding-inline-start: 3.15em;
    list-style: none none 0;
    counter-reset: custom-counter;
}

ol.numbered > li {
    position: relative;
    margin-block: 0.35em;
    counter-increment: custom-counter;
    min-height: 2.25em;
    transition: transform 0.5s;
}

ol.numbered > li::before {
    position: absolute;
    content: counter(custom-counter);
    font-family: 'Jersey10';
    font-size: 1.5em;
    top: 0;
    left: -1.9em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: var(--clr-primary);
    text-shadow: 2px 2px 1px var(--clr-bg);
    box-shadow: 1.25px 1.25px 1px 0 var(--clr-text);
    line-height: 1.5em;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    transform: rotate(-15deg);
    transition:
        background-color 0.5s,
        color 0.5s,
        text-shadow 0.5s;
}

ol.numbered > li:hover {
    transform: translateX(1em);
}

ol.numbered > li:hover::before {
    background-color: var(--clr-primary-dark);
    color: var(--clr-bg);
    text-shadow: 2px 2px 1px var(--clr-text);
}

/* header {
    position: relative;
    overflow: hidden;
}

header * {
    z-index: 1;
}
    
header::before {
    position: absolute;
    top: 0;
    inset-inline: 0;
    height: 4px;
    background-image: linear-gradient(
        90deg,
        #ff0000 0%,
        #00ff00 50%,
        #0000ff 100%
    );
    content: '';
} */

.btn {
    padding: 0.5em 1.5em;
    border: 1px solid currentColor;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.links a img {
    transition:
        transform 0.2s,
        filter 0.5s,
        box-shadow 0.5s;
}

.links a:hover img {
    transform: scale(1.2);
    filter: brightness(1.5);
    box-shadow: 0px 0px 16px 4px var(--clr-primary-50);
}

about-me {
    display: block;
    margin-top: 2em;
}

about-me ul {
    outline: 1px var(--clr-accent) solid;
    border: 2px var(--clr-header-2) solid;
    border-radius: 0.5em 0.5em 0 0;
    overflow: hidden;
    display: block flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

about-me li {
    background-color: var(--clr-text);
    color: var(--clr-bg);
    padding-inline: 0.5em;
    padding-block: 0.2em;
    flex-grow: 1;
    text-align: center;
}

about-me li:has(input:checked) {
    background-color: var(--clr-primary);
    color: var(--clr-text);
    font-weight: 800;
}

about-me li:has(label:hover) {
    background-color: var(--clr-primary-light);
    color: var(--clr-bg)
}

about-me input[name=about-me] {
    display: none;
}

about-me label {
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

about-me-content {
    display: block;
    outline: 1px var(--clr-accent) solid;
    border: 2px var(--clr-header-2) solid;
    padding: 1em;
}

about-me-content h3 {
    margin-block: 0 0.667em;
}

about-me-content section {
    animation: about-me-content 0.8s ease-in-out;
}

@keyframes about-me-content {
    from { opacity: 0; }
}

@media all and (min-width: 55rem) {
    header-container {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding-inline: var(--spacing-outer);
    }

    header-links {
        justify-content: space-between;
    }

    menu-container {
        margin-top: var(--spacing-inner);
    }

    mobile-title,
    mobile-menu  {
        display: none;
    }
}

@media not all and (min-width: 55rem) {
    body {
        width: 100%;
    }

    header {
        position: sticky;
        top: 0;
        margin-bottom: 1rem;
        z-index: 10;
    }

    header-container {
        padding-inline: var(--spacing-edges);
    }

    header-links {
        justify-content: center;
    }

    social-container {
        gap: var(--spacing-inner);
    }

    home-wrapper,
    desktop-title,
    desktop-menu,
    sub-menu {
        display: none;
    }

    menu-container {
        padding-inline-start: var(--spacing-edges);
    }

    mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    content-container {
        margin-block: var(--spacing-outer);
        padding-inline: var(--spacing-inner);
    }

    h1 {
        margin-block-start: 0.75rem;
        font-size: clamp(2rem, 10vw + 0.25rem, 64px);
    }

    h2 {
        font-size: 1.5em;
    }
    
    ol.numbered {
        max-width: 75%;
    }
}

@media not all and (min-width: 37.5rem) {
    ol.numbered {
        max-width: calc(100% - 1em);
    }

    .links div {
        text-align: center;
    }
}