#menu .btn-menu {
    border-radius: 9999px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border: 2px solid transparent;
    font-family: 'Press Start 2P';
    font-weight: 100;
    font-size: .875rem;
}

#menu .btn-menu:hover,
#menu .btn-menu.selected {
    background-color: var(--color-primary-light);
    color: var(--color-background);
    border-color: var(--color-text);
}

#sub-menu .show-menu {
    --animation-name: show-menu;
}

#sub-menu .hide-menu {
    --animation-name: hide-menu;
}

#sub-menu .show-menu,
#sub-menu .hide-menu {
    overflow: hidden;
    cursor: default;
    pointer-events: none;
    animation: var(--animation-name) 0.5s ease-in-out backwards;
}

#sub-menu .show-menu * {
    opacity: 0;
}

@keyframes show-menu {
    0%      { max-height: 0; }
    100%    { max-height: 8rem; }
}

@keyframes hide-menu {
    0% {
        max-height: 8rem;
        opacity: 1;
    }
    100% {
        max-height: 0;
        opacity: 0;
    }
}

#sub-menu .list-cards {
    --gap: 0.5rem;
}

#sub-menu .list-cards:not(.hidden) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
}

#sub-menu .list-cards > .card {
    cursor: pointer;
    flex-grow: 1;
    max-width: calc(33% - (var(--gap) * 2));
    align-self: stretch;
}

#sub-menu .list-cards:not(.show-menu) > .card {
    --animation-delay: 0s;
    animation: slide-in 1s ease-out var(--animation-delay) backwards;
}

@keyframes slide-in {
    0%      { transform: translate(100vw); /*100vw*/ }
    100%    { transform: translate(0); }
}

#sub-menu .card {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    perspective: 1000px;
    border-radius: 1rem;
}

#sub-menu .card a {
    border-radius: inherit;
}

#sub-menu .card-inner {
    display: grid;
    border-radius: inherit;
    grid-template: 'stack';
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

#sub-menu .card:has(.card-back):hover .card-inner,
#sub-menu .card-inner:has(.card-back):focus {
    transform: rotateY(-180deg);
}

#sub-menu .card-front,
#sub-menu .card-back {
    grid-area: stack;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    overflow: hidden;
    border-width: 2px;
    border-color: var(--color-text);
    border-style: solid;
    border-radius: inherit;
    background-image: linear-gradient(to bottom right,
        var(--color-primary),
        var(--color-secondary));
    padding: 1rem 4rem;
}

#sub-menu .card-back {
    max-height: 0;
    background-image: linear-gradient(to bottom right,
        var(--color-tertiary),
        var(--color-primary));
    color: transparent;
    transform: rotateY(180deg);
    transition: max-height 0.8s, color 0.5s;
}

#sub-menu .card:hover .card-back,
#sub-menu .card-inner:focus .card-back {
    color: var(--color-background);
    max-height: 8rem;
    transition: max-height 0.8s, color 1.6s;
}