#mobile-menu-contents {
    position: fixed;
    overflow: hidden auto;
    border-right: 2px var(--color-text) solid;
    inset: 0 5rem 0 0;
    background-color: var(--color-primary-dark-50, var(--color-background));
    backdrop-filter: blur(5px) brightness(30%);
    font-size: 2rem;
    padding-block: 3rem;
    transform: translateX(-100%);
}

#mobile-menu-contents.shown {
    pointer-events: auto;
    transform: translateX(0);
}

#mobile-menu-contents li label,
#mobile-menu-contents li a {
    position: relative;
    display: block;
    cursor: pointer;
    padding-inline-start: 2rem;
    padding-block: 1rem;
}

#mobile-menu-contents li label:hover,
#mobile-menu-contents li a:hover {
    color: currentColor;
    background-color: var(--color-primary-dark);
}

#mobile-menu-contents li input + label::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    content: '>';
    transform-origin: center center;
    transition: transform 0.5s;
}

#mobile-menu-contents li input:checked + label::after {
    transform: rotateZ(90deg);
}

#mobile-menu-contents li ul {
    display: none;
}

#mobile-menu-contents li input:checked + label + ul {
    display: block;
}

#mobile-menu-contents li li a {
    padding-inline-start: 3rem;
}

.show-mobile-menu {
    animation: show-mobile-menu 0.5s ease-in-out forwards;
}

.hide-mobile-menu {
    animation: hide-mobile-menu 0.5s ease-in-out forwards;
}

@keyframes show-mobile-menu {
    0%      { transform: translateX(-100%); }
    100%    { transform: translateX(0); }
}

@keyframes hide-mobile-menu {
    0%      { transform: translateX(0); }
    100%    { transform: translateX(-100%);}
}

#mobile-menu-button svg {
    overflow: visible;
    --color-hilt: #a9a9a9;
    --color-blade-1: var(--color-secondary);
    --color-blade-2: var(--color-tertiary);
    --color-blade-3: var(--color-primary);
}

#svg-rect-top-hilt,
#svg-rect-top-blade {
    transform-origin: 85% 18% 0;
}

#svg-rect-mid-hilt,
#svg-rect-mid-blade {
    transform-origin: 15% 50% 0;
}

#svg-rect-low-hilt,
#svg-rect-low-blade {
    transform-origin: 85% 82% 0;
}

.animating svg * {
    animation: var(--animation) 1s ease-out forwards;
}

@keyframes first-top-blade {
    0% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(100%, 100%);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(0%, 33%);
    }
    100% {
        transform:
            rotateZ(90deg)
            translate(67%, 67%)
            scale(0%, 33%);
    }
}

@keyframes first-top-hilt {
    0% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    100% {
        transform:
            rotateZ(90deg)
            translate(67%, 67%);
    }
}

@keyframes first-mid-blade {
    0% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(100%, 100%);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(0%, 33%);
    }
    100% {
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%)
            scale(0%, 33%);
    }
}

@keyframes first-mid-hilt {
    0% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    100% {
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%);
    }
}

@keyframes first-low-blade {
    0% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(100%, 100%);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0)
            scale(0%, 33%);
    }
    100% {
        transform:
            rotateZ(90deg)
            translate(3%, 3%)
            scale(0%, 33%);
    }
}

@keyframes first-low-hilt {
    0% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    33% {
        transform:
            rotateZ(0deg)
            translate(0);
    }
    100% {
        transform:
            rotateZ(90deg)
            translate(3%, 3%);
    }
}

.active svg * {
    animation: var(--animation) 1s ease-out forwards;
}

@keyframes second-top-blade {
    0% {
        fill: var(--color-blade-1);
        transform:
            rotateZ(90deg)
            translate(67%, 67%)
            scale(0%, 33%);
    }
    50% {
        fill: var(--color-blade-1);
        filter: drop-shadow(-4px 0 12px var(--color-blade-1));
        transform:
            rotateZ(90deg)
            translate(67%, 67%)
            scale(0%, 33%);
    }
    100% {
        fill: var(--color-blade-1);
        filter: drop-shadow(-4px 0 12px var(--color-blade-1));
        transform:
            rotateZ(90deg)
            translate(67%, 67%)
            scale(100%, 100%);
    }
}

@keyframes second-top-hilt {
    0% {
        fill: white;
        transform:
            rotateZ(90deg)
            translate(67%, 67%);
    }
    50% {
        fill: var(--color-hilt);
        transform:
            rotateZ(90deg)
            translate(67%, 67%);
    }
    100% {
        fill: var(--color-hilt);
        transform:
            rotateZ(90deg)
            translate(67%, 67%);
    }
}

@keyframes second-mid-blade {
    0% {
        fill: var(--color-blade-2);
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%)
            scale(0%, 33%);
    }
    50% {
        fill: var(--color-blade-2);
        filter: drop-shadow(-4px 0 12px var(--color-blade-2));
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%)
            scale(0%, 33%);
    }
    100% {
        fill: var(--color-blade-2);
        filter: drop-shadow(-4px 0 12px var(--color-blade-2));
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%)
            scale(100%, 100%);
    }
}

@keyframes second-mid-hilt {
    0% {
        fill: white;
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%);
    }
    50% {
        fill: var(--color-hilt);
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%);
    }
    100% {
        fill: var(--color-hilt);
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%);
    }
}

@keyframes second-low-blade {
    0% {
        fill: var(--color-blade-3);
        transform:
            rotateZ(90deg)
            translate(3%, 3%)
            scale(0%, 33%);
    }
    50% {
        fill: var(--color-blade-3);
        filter: drop-shadow(-4px 0 12px var(--color-blade-3));
        transform:
            rotateZ(90deg)
            translate(3%, 3%)
            scale(0%, 33%);
    }
    100% {
        fill: var(--color-blade-3);
        filter: drop-shadow(-4px 0 12px var(--color-blade-3));
        transform:
            rotateZ(90deg)
            translate(3%, 3%)
            scale(100%, 100%);
    }
}

@keyframes second-low-hilt {
    0% {
        fill: white;
        transform:
            rotateZ(90deg)
            translate(3%, 3%);
    }
    50% {
        fill: var(--color-hilt);
        transform:
            rotateZ(90deg)
            translate(3%, 3%);
    }
    100% {
        fill: var(--color-hilt);
        transform:
            rotateZ(90deg)
            translate(3%, 3%);
    }
}

.reverting svg * {
    animation: var(--animation) 0.5s ease-out forwards;
}

@keyframes third-top-blade {
    from {
        fill: var(--color-blade-1);
        transform:
            rotateZ(90deg)
            translate(67%, 67%)
            scale(100%, 100%);
    }
}

@keyframes third-top-hilt {
    from {
        fill: var(--color-hilt);
        transform:
            rotateZ(90deg)
            translate(67%, 67%);
    }
}

@keyframes third-mid-blade {
    from {
        fill: var(--color-blade-2);
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%)
            scale(100%, 100%);
    }
}

@keyframes third-mid-hilt {
    from {
        fill: var(--color-hilt);
        transform:
            rotateZ(-90deg)
            translate(-35%, 35%);
    }
}

@keyframes third-low-blade {
    from {
        fill: var(--color-blade-3);
        transform:
            rotateZ(90deg)
            translate(3%, 3%)
            scale(100%, 100%);
    }
}

@keyframes third-low-hilt {
    from {
        fill: var(--color-hilt);
        transform:
            rotateZ(90deg)
            translate(3%, 3%);
    }
}