:root {
    --color-gray-50:   0 0% 5%;
    --color-gray-100:  0 0% 10%;
    --color-gray-200:  0 0% 20%;
    --color-gray-300:  0 0% 30%;
    --color-gray-400:  0 0% 40%;
    --color-gray-500:  0 0% 50%;
    --color-gray-600:  0 0% 60%;
    --color-gray-700:  0 0% 70%;
    --color-gray-800:  0 0% 80%;
    --color-gray-900:  0 0% 90%;
    --color-gray-950:  0 0% 95%;

    --color-hotpink-50:   330 88% 93%;
    --color-hotpink-100:  331 88% 90%;
    --color-hotpink-200:  330 88% 83%;
    --color-hotpink-300:  330 88% 77%;
    --color-hotpink-400:  330 88% 70%;
    --color-hotpink-500:  330 88% 67%;
    --color-hotpink-600:  330 65% 60%;
    --color-hotpink-700:  330 43% 47%;
    --color-hotpink-800:  330 43% 34%;
    --color-hotpink-900:  330 43% 20%;
    --color-hotpink-950:  331 42% 14%;

    --color-sandyyellow-50:   54 93% 94%;
    --color-sandyyellow-100:  53 95% 91%;
    --color-sandyyellow-200:  53 97% 86%;
    --color-sandyyellow-300:  53 96% 80%;
    --color-sandyyellow-400:  53 97% 75%;
    --color-sandyyellow-500:  53 97% 72%;
    --color-sandyyellow-600:  53 69% 65%;
    --color-sandyyellow-700:  53 38% 50%;
    --color-sandyyellow-800:  53 38% 36%;
    --color-sandyyellow-900:  53 38% 22%;
    --color-sandyyellow-950:  53 37% 14%;

    --color-lightgreenishblue-50:   154 88% 93%;
    --color-lightgreenishblue-100:  153 92% 90%;
    --color-lightgreenishblue-200:  153 90% 84%;
    --color-lightgreenishblue-300:  153 91% 77%;
    --color-lightgreenishblue-400:  153 91% 71%;
    --color-lightgreenishblue-500:  153 90% 68%;
    --color-lightgreenishblue-600:  153 68% 61%;
    --color-lightgreenishblue-700:  153 43% 47%;
    --color-lightgreenishblue-800:  153 43% 34%;
    --color-lightgreenishblue-900:  153 42% 20%;
    --color-lightgreenishblue-950:  153 42% 14%;

    --color-bluelotus-50:   244 79% 93%;
    --color-bluelotus-100:  244 82% 89%;
    --color-bluelotus-200:  244 80% 82%;
    --color-bluelotus-300:  244 81% 75%;
    --color-bluelotus-400:  244 80% 68%;
    --color-bluelotus-500:  244 79% 65%;
    --color-bluelotus-600:  244 60% 58%;
    --color-bluelotus-700:  244 43% 45%;
    --color-bluelotus-800:  244 43% 33%;
    --color-bluelotus-900:  244 43% 19%;
    --color-bluelotus-950:  244 42% 13%;
}

body {
    --color-primary-light: hsl(var(--color-hotpink-300));
    --color-primary: hsl(var(--color-hotpink-500));
    --color-primary-50: hsl(var(--color-hotpink-500) / 50%);
    --color-primary-dark: hsl(var(--color-hotpink-700));
    --color-primary-dark-50: hsl(var(--color-hotpink-700) / 50%);
    --color-secondary: hsl(var(--color-bluelotus-500));
    --color-tertiary: hsl(var(--color-lightgreenishblue-500));
    --color-accent: hsl(var(--color-sandyyellow-500));

    --color-background: hsl(var(--color-gray-50));
    --color-text: #ffffff;
    --color-link: hsl(var(--color-hotpink-200));
    --color-link-hover: hsl(var(--color-bluelotus-200));
    --color-link-visited: hsl(var(--color-lightgreenishblue-200));
    --color-disabled-background: hsl(var(--color-gray-300));
    --color-disabled-text: hsl(var(--color-gray-100));

    --color-header-1: hsl(var(--color-gray-50) / 95%);
    --color-header-2: hsl(var(--color-gray-200) / 95%);
}