button, select, input {
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type=""],
textarea,
[contenteditable] {
    border-radius: var(--spacing-internal);
    padding: var(--spacing-internal) var(--spacing-edges);
    background-color: var(--clr-text);
    color: var(--clr-bg);

    &:enabled:user-valid {
        background-color: var(--clr-safe-light);
    }

    &:enabled:user-invalid,
    &[aria-invalid="true"] {
        background-color: var(--clr-warn-light);
    }
}

button:disabled,
select:disabled,
input:disabled,
textarea:disabled {
    background-color: var(--clr-disabled-background);
    color: var(--clr-disabled-text);
}

input[type="checkbox"] {
    box-sizing: content-box;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 2em;
    height: 1em;
    border-width: 1px;
    border-color: white;
    border-radius: 0.5em;
    background-color: black;
    box-shadow: inset 0 0 2px #ccc;
    transition: 0.35s;
}

input[type="checkbox"]:checked {
    background-color: white;
}

/* input[type="checkbox"]:disabled {
    background-color: #444;
} */

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    margin: 0.15em;
    width: 0.7em;
    height: 0.7em;
    left: 0;
    background-color: #444;
    border-radius: 0.3em;
    transition: 0.35s;
}

input[type="checkbox"]:checked::before {
    background-color: #009900;
    left: 1em;
}

input[type="checkbox"]:disabled::before {
    background-color: #999;
}

label:has(input[type="checkbox"]) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    width: fit-content;
    white-space: nowrap;
}

label:has(input[type="checkbox"]:enabled),
input[type="checkbox"]:enabled,
label:has(input[type="radio"]:enabled),
input[type="radio"]:enabled,
label:has(input[type="file"]:enabled) {
    cursor: pointer;
}