image-manager-component {
    display: block flex;
    flex-direction: column;
    gap: var(--spacing-edges);
    height: 100%;
}

image-manager-header {
    display: block flex;
    flex-direction: row;
    gap: var(--spacing-inner);
    align-items: center;
}

manager-tabs {
    display: block;
    margin-bottom: -1px;
    user-select: none;
}

.tab-list {
    display: block flex;
    border-bottom: 1px solid var(--color-disabled-background);
    margin-bottom: var(--spacing-inner);
}

.tab-item {
    margin: -1.5px;

    &:has(input:checked) {
        border-bottom: 3px solid var(--color-primary);
    }
}

.tab-label {
    padding: var(--spacing-edges);
}

image-manager {
    display: block flex;
    max-height: calc(var(--container-max-height, 100%) - 12rem);
    gap: var(--spacing-inner);
}

manager-files,
image-properties {
    min-height: 0;
    overflow-y: scroll;
    margin-bottom: var(--spacing-inner);
}

manager-list {
    flex-basis: 40%;
    display: block flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}

manager-properties {
    flex-basis: 60%;
    display: block flex;
    flex-direction: column;
    justify-content: space-between;

    & form {
        display: contents;
    }
}

image-properties {
    display: block flex;
    flex-direction: column;
    gap: var(--spacing-internal);
    border-left: 1px solid;
    padding-inline: var(--spacing-inner) var(--spacing-edges);
    font-size: 1rem;
}

manager-buttons {
    display: block flex;
    justify-content: space-between;
    padding: var(--spacing-edges);
}

[btn-reset]:disabled {
    display: none;
}

.manager-list-item:has(input:disabled) {
    background-color: var(--color-disabled-background);
    color: var(--color-disabled-text);
}

.manager-list-item:has(input:enabled):hover {
    background-color: var(--color-primary-dark);
}

.manager-list-item:has(input:checked) {
    background-color: var(--color-text);
    color: var(--color-background);
}

.image-header {
    text-align: center;
}

.image-preview {
    margin-inline: 2rem;
    border: 1px dashed white;

    & img {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: contain;
    }
}

.image-dates {
    font-size: 0.8em;
    line-height: 1.5em;
}