image-manager-component {
    display: block flex;
    flex-direction: column;
    gap: var(--spacing-edges);
    height: 100%;
}

manager-tabs {
    display: block;
    margin-bottom: -1px;
}

.tab-list {
    display: inline flex;
    border: 1px solid currentColor;
    border-radius: var(--spacing-internal) var(--spacing-internal) 0 0;
}

.tab-item {
    margin: -1px;
    border: 1px solid currentColor;
    border-radius: var(--spacing-internal) var(--spacing-internal) 0 0;

    &:has(input:checked) {
        border-bottom-color: var(--color-background);
    }

    &:not(:has(input:checked)) {
        border-color: currentColor transparent;
    }
}

.tab-label {
    padding: var(--spacing-edges);
}

manager-content {
    display: block flex;
    max-height: calc(var(--container-max-height, 100%) - 12rem);
    gap: var(--spacing-edges);

    border: 1px solid currentColor;
}

manager-files,
manager-properties {
    min-height: 0;
    overflow-y: scroll;
    padding: var(--spacing-edges);
}

manager-list {
    flex-basis: 40%;
    display: block flex;
    flex-direction: column;
    justify-content: space-between;
}

manager-properties {
    flex-basis: 60%;
    display: block flex;
    flex-direction: column;
    gap: var(--spacing-inner);
    font-size: 1rem;
}

.manager-list-item:has(input:checked) {
    background-color: var(--color-text);
    color: var(--color-background);
}

.image-header {
    text-align: center;
}

.image-preview {
    margin-inline: 2rem;
    border: 1px dashed white;
    aspect-ratio: 16/9;
}

manager-buttons {
    display: block flex;
    justify-content: space-between;
    padding: var(--spacing-edges);
}