text-editor-component {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
}

.text-editor-toolbar {
    display: flex;
    flex-direction: row;
    gap: var(--size-xs);
}

text-box-container {
    display: block flex;
    flex-direction: row;
    position: relative;
    border-radius: var(--size-xs);
    overflow: hidden;
}

text-box,
[html-editor] {
    display: block;
    width: 100%;
    height: 15em;
    overflow: scroll;
}

text-box {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: var(--clr-text);
    color: var(--clr-bg);

    &[placeholder]:empty::before {
        content: attr(placeholder);
        opacity: 0.5;
    }

    &[placeholder]:empty:focus::before {
        content: "";
    }

    & a,
    & hr[page-break],
    & hr[page-break]::before,
    & img-gallery,
    & img-wrapper {
        cursor: pointer;
    }
}

text-box:focus-within {
    border-radius: 3px;
    outline: 3px solid var(--clr-primary, purple);
}

text-box hr[page-break] {
    position: absolute;
    inset-inline: var(--size-s);
    display: block flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    opacity: 0.5;
    overflow: visible;
    z-index: 5;
}

text-box hr[page-break]::before {
    position: absolute;
    transform: translateY(-50%);
    border: 2px solid currentColor;
    background-color: var(--clr-primary-light);
    border-radius: var(--size-s);
    padding: var(--size-xs) calc(var(--size-xs) * 2);
    content: 'Page break';
}

options-panel {
    position: absolute;
    inset: 0 0 0 auto;
    z-index: 50;
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out 0.2s;

    display: block flex;
    flex-direction: column;
    border-radius: var(--size-xs);
    padding: var(--size-xs);
    background-color: var(--clr-primary);
    font-size: 1.25em;

    &.active {
        transform: translateX(0);
    }

    & button {
        border-radius: var(--size-xs);
    }

    & button:hover {
        background-color: var(--clr-primary-dark);
    }
}

[element-option] {
    margin: var(--size-xxs);
}

panel-option,
panel-option form {
    display: block flex;
    flex-direction: row;
    gap: var(--size-xxs);
    align-items: center;
}

panel-option form {
    width: 100%;
    font-size: 50%;
    line-height: 50%;
    justify-content: space-between;

    & input[type="text"] {
        width: calc(10ch + var(--size-xxs) + 5ch);
    }

    & input[type="number"] {
        width: 10ch;
    }

    & select {
        width: 5ch;
    }

    & button {
        padding: 0.5em;
    }
}