#main-menu .btn-menu {
    border-radius: 9999px;
    background-color: var(--clr-primary);
    color: var(--clr-text);
    border: 2px solid transparent;
    font-family: 'Press Start 2P';
    font-weight: 100;
    font-size: .875rem;
}

#main-menu .btn-menu:hover,
#main-menu .btn-menu.selected {
    background-color: var(--clr-primary-light);
    color: var(--clr-bg);
    border-color: var(--clr-text);
}