image-gallery-component {
    display: block flex;
    flex-direction: column;
    gap: var(--spacing-edges);
    height: 100%;
}

image-gallery-header {
    display: block flex;
    flex-direction: row;
    gap: var(--spacing-inner);
    align-items: center;
}

manager-tabs {
    display: block;
    margin-bottom: -1px;
    user-select: none;
}

.tab-list {
    display: block flex;
    border-bottom: 1px solid var(--color-disabled-background);
    margin-bottom: var(--spacing-inner);
}

.tab-item {
    margin: -1.5px;

    &:has(input:checked) {
        border-bottom: 3px solid var(--color-primary);
    }
}

.tab-label {
    padding: var(--spacing-edges);
}

image-manager-component,
gallery-manager-component,
manager-gallery-images {
    display: block flex;
    height: clamp(2ch, 36ch, calc(var(--container-max-height, 100%) - 12rem));
    gap: var(--spacing-inner);
}

manager-files,
image-properties,
gallery-list,
manager-gallery-images {
    min-height: 2ch;
    overflow-y: scroll;
    margin-bottom: var(--spacing-inner);
}

images-included,
images-excluded {
    display: block;
    min-height: 2ch;
    overflow-y: scroll;
}

manager-images,
manager-properties,
manager-galleries,
manager-selected-gallery {
    display: block flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

manager-images {
    flex-basis: 40%;
    user-select: none;
}

manager-properties {
    flex-basis: 60%;

    & form {
        display: contents;
    }
}

manager-galleries {
    flex-basis: 33%;
}

images-included,
images-excluded,
.buttons-add-remove {
    flex-basis: 50%;
}

images-included fieldset,
images-excluded fieldset {
    padding-block-start: var(--spacing-edges);
}

image-properties {
    display: block flex;
    flex-direction: column;
    gap: var(--spacing-internal);
    font-size: 1rem;
}

image-properties,
manager-gallery-images {
    border-left: 1px solid;
    padding-inline: var(--spacing-inner) var(--spacing-edges);
}

manager-buttons {
    display: block flex;
    justify-content: space-between;
    gap: var(--spacing-inner);
    padding: var(--spacing-edges);
}

manager-properties manager-buttons,
manager-selected-gallery manager-buttons {
    padding-inline: var(--spacing-inner) var(--spacing-edges);
}

manager-gallery-images manager-buttons {
    flex-direction: column;
}

[btn-reset]:disabled {
    display: none;
}

.gallery-images-header {
    border-bottom: 1px solid;
    padding-block-end: var(--spacing-internal);
}

.image-title,
.gallery-title {
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

manager-images .image-title {
    width: 24ch;
}

.gallery-title,
manager-gallery-images .image-title {
    width: 18ch;
}

.manager-list-item {
    user-select: none;
}

.manager-list-item:has(input:disabled) {
    background-color: var(--color-disabled-background);
    color: var(--color-disabled-text);
}

.manager-list-item:has(input:enabled):hover {
    background-color: var(--color-primary-dark);
}

.manager-list-item:has(input:checked) {
    background-color: var(--color-text);
    color: var(--color-background);
}

.image-header {
    text-align: center;
}

.image-preview {
    margin-inline: 2rem;
    border: 1px dashed white;

    & img {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: contain;
    }
}

.image-dates {
    font-size: 0.8em;
    line-height: 1.5em;
}