<?php declare(strict_types=1);

namespace Models{namespace};

use Abstract\DbCreatedModified;

class {pascal_name} extends DbCreatedModified {
    public string $member;

    public function __construct(array $dbRow) {
        parent::__construct($dbRow);

        $this->member = $dbRow['member'];
    }
}