<?php declare(strict_types=1);

namespace Models\DTO{namespace};

use Abstract\DbBase;

class {pascal_name}DTO extends DbBase {
    public string $member;

    public function __construct(array $input) {
        parent::__construct($input);

        $this->member = $input['member'];
    }
}