<?php declare(strict_types=1);

namespace Services{namespace};

use Exception;
use PDO;
use PDOException;
use Abstract\BaseDbService;

class {pascal_name}DbService extends BaseDbService {
    protected function __construct() {
        parent::__construct();
    }

    public function get{pascal_name}(int $id) : mixed {
        try {
            ${camel_name} = $this->dbService->selectById('{snake_name}', $id);

            if (!${camel_name})
                throw new Exception('Invalid {snake_name} ID');

            return ${camel_name}; // new ModelName(${camel_name})

        }
        catch (PDOException $e) {
            throw new Exception('Database error: ' . $e->getMessage());
        }
    }
}

?>