<?php declare(strict_types=1);

namespace App\Services{namespace};

use App\Abstract\Singleton;
use App\Database\{pascal_name}DbService;
use App\Services\TableModifiedService;

class {pascal_name}Service extends Singleton {
    private {pascal_name}DbService ${camel_name}DbService;
    private TableModifiedService $tableModifiedService;

    protected function __construct() {
        $this->{camel_name}DbService = {pascal_name}DbService::getInstance();
        $this->tableModifiedService = TableModifiedService::getInstance();
    }
}

?>