<?php declare(strict_types=1);

namespace Services{namespace};

use Database\{pascal_name}DbService;
use Services\TableModifiedService;
use Services\Base\Singleton;

class {pascal_name}Service extends Singleton {
    private {pascal_name}DbService ${camel_name}DbService;
    private TableModifiedService $tableModifiedService;

    protected function __construct() {
        $this->{camel_name}DbService = {pascal_name}DbService::getInstance();
        $this->tableModifiedService = TableModifiedService::getInstance();
    }
}

?>