site-configuration-component {
    display: block;
}

site-configuration-component form,
site-configuration-component fieldset {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

site-configuration-component .category-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}