blog-post-administration-component {
    display: block;
}

#admin__blog-post__list {
    margin-block: var(--size-l);
}

.admin__blog-post {
    display: block grid;
    grid-template-columns: 1fr auto auto auto;
    gap: var(--size-s);
    margin-block: var(--size-m);
}

.admin__blog-post__link {
    display: inline flex;
    flex-direction: row;
    gap: 0.75ch;
    align-items: center;
}