

/* IMPORT: normalize.css */

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: hsl(0, 0%, 20%);
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  appearance: button;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1, h2, h3, h4, h5, h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: hsl(0, 0%, 40%);
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: hsl(0, 0%, 40%);
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle; /* ignore lint error */
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none !important;
}

.hidden {
  display: none !important;
}


/* IMPORT: default/colors.css */

:root {
    --hsl-gray-50:   0 0% 5%;
    --hsl-gray-100:  0 0% 10%;
    --hsl-gray-200:  0 0% 20%;
    --hsl-gray-300:  0 0% 30%;
    --hsl-gray-400:  0 0% 40%;
    --hsl-gray-500:  0 0% 50%;
    --hsl-gray-600:  0 0% 60%;
    --hsl-gray-700:  0 0% 70%;
    --hsl-gray-800:  0 0% 80%;
    --hsl-gray-900:  0 0% 90%;
    --hsl-gray-950:  0 0% 95%;

    --hsl-hotpink-50:   330 88% 93%;
    --hsl-hotpink-100:  331 88% 90%;
    --hsl-hotpink-200:  330 88% 83%;
    --hsl-hotpink-300:  330 88% 77%;
    --hsl-hotpink-400:  330 88% 70%;
    --hsl-hotpink-500:  330 88% 67%;
    --hsl-hotpink-600:  330 65% 60%;
    --hsl-hotpink-700:  330 43% 47%;
    --hsl-hotpink-800:  330 43% 34%;
    --hsl-hotpink-900:  330 43% 20%;
    --hsl-hotpink-950:  331 42% 14%;

    --hsl-sandyyellow-50:   54 93% 94%;
    --hsl-sandyyellow-100:  53 95% 91%;
    --hsl-sandyyellow-200:  53 97% 86%;
    --hsl-sandyyellow-300:  53 96% 80%;
    --hsl-sandyyellow-400:  53 97% 75%;
    --hsl-sandyyellow-500:  53 97% 72%;
    --hsl-sandyyellow-600:  53 69% 65%;
    --hsl-sandyyellow-700:  53 38% 50%;
    --hsl-sandyyellow-800:  53 38% 36%;
    --hsl-sandyyellow-900:  53 38% 22%;
    --hsl-sandyyellow-950:  53 37% 14%;

    --hsl-lightgreenishblue-50:   154 88% 93%;
    --hsl-lightgreenishblue-100:  153 92% 90%;
    --hsl-lightgreenishblue-200:  153 90% 84%;
    --hsl-lightgreenishblue-300:  153 91% 77%;
    --hsl-lightgreenishblue-400:  153 91% 71%;
    --hsl-lightgreenishblue-500:  153 90% 68%;
    --hsl-lightgreenishblue-600:  153 68% 61%;
    --hsl-lightgreenishblue-700:  153 43% 47%;
    --hsl-lightgreenishblue-800:  153 43% 34%;
    --hsl-lightgreenishblue-900:  153 42% 20%;
    --hsl-lightgreenishblue-950:  153 42% 14%;

    --hsl-bluelotus-50:   244 79% 93%;
    --hsl-bluelotus-100:  244 82% 89%;
    --hsl-bluelotus-200:  244 80% 82%;
    --hsl-bluelotus-300:  244 81% 75%;
    --hsl-bluelotus-400:  244 80% 68%;
    --hsl-bluelotus-500:  244 79% 65%;
    --hsl-bluelotus-600:  244 60% 58%;
    --hsl-bluelotus-700:  244 43% 45%;
    --hsl-bluelotus-800:  244 43% 33%;
    --hsl-bluelotus-900:  244 43% 19%;
    --hsl-bluelotus-950:  244 42% 13%;

    --hsl-bg: var(--hsl-gray-50);
    --hsl-text: 0 0 100%;
}

body {
    --clr-light: white;
    --clr-dark: black;

    --clr-primary-light: hsl(var(--hsl-hotpink-300));
    --clr-primary: hsl(var(--hsl-hotpink-500));
    --clr-primary-50: hsl(var(--hsl-hotpink-500) / 50%);
    --clr-primary-dark: hsl(var(--hsl-hotpink-700));
    --clr-primary-dark-50: hsl(var(--hsl-hotpink-700) / 50%);
    --clr-secondary: hsl(var(--hsl-bluelotus-500));
    --clr-tertiary: hsl(var(--hsl-lighgreenishblue-500));
    --clr-accent: hsl(var(--hsl-sandyyellow-500));

    --clr-safe-light: hsl(120, 100%, 80%);
    --clr-safe: hsl(120, 100%, 30%);
    --clr-safe-dark: hsl(120, 100%, 20%);

    --clr-warn-light: hsl(0, 100%, 80%);
    --clr-warn: hsl(0, 100%, 30%);
    --clr-warn-dark: hsl(0, 100%, 20%);

    --clr-bg: hsl(var(--hsl-bg));
    --clr-text: hsl(var(--hsl-text));
    --clr-link: hsl(var(--hsl-hotpink-200));
    --clr-link-hover: hsl(var(--hsl-bluelotus-200));
    --clr-link-visited: hsl(var(--hsl-lighgreenishblue-200));
    --clr-disabled-background: hsl(var(--hsl-gray-300));
    --clr-disabled-text: hsl(var(--hsl-gray-100));

    --clr-header-1: hsl(var(--hsl-gray-50) / 95%);
    --clr-header-2: hsl(var(--hsl-gray-200) / 95%);
}


/* IMPORT: default/sizes.css */

:root {
    --screens-sm: 20rem;
    --screens-md: 37.5rem;
    --screens-lg: 55rem;
}

body {
    --size-xxs: 0.125rem;
    --size-xs: 0.25rem;
    --size-s: 0.5rem;
    --size-m: 1rem; 
    --size-l: 2rem;
    --size-xl: 4rem;
    --size-xxl: 8rem;
}


/* IMPORT: default/fonts.css */

@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    src: local('Press Start 2P'),
        local('press-start-2p'),
        url(/fonts/press-start-2p-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Jersey10';
    font-style: normal;
    src: local('Jersey10'),
        local('jersey10'),
        url(/fonts/jersey10-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    src: local('Roboto Mono'),
        local('roboto-mono'),
        url(/fonts/robotomono.ttf);
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    src: local('Roboto Mono'),
        local('roboto-mono'),
        url(/fonts/robotomono-italic.ttf);
}


/* IMPORT: default/forms.css */

.form-column {
    display: block flex;
    flex-direction: column;
    gap: var(--size-l);
}


.form-spaced-row,
.form-row-group {
    display: block flex;
    flex-direction: row;
    gap: var(--size-m);
}

.form-spaced-row {
    justify-content: space-between;
}

.form-matching-buttons {
    display: block grid;
    grid-auto-columns: 1fr;
    gap: var(--size-m);

    & > * {
        grid-row: 1;
        min-width: fit-content;
    }
}

.form-save-time {
    display: block flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5em;
    align-items: center;
}

button, select, input {
    background-color: transparent;
    color: var(--clr-text);
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type=""],
textarea,
[contenteditable] {
    border-radius: var(--size-xs);
    padding: var(--size-xs) calc(var(--size-xs) * 2);
    background-color: var(--clr-text);
    color: var(--clr-bg);

    &:enabled:user-valid {
        background-color: var(--clr-safe-light);
    }

    &:enabled:user-invalid,
    &[aria-invalid="true"] {
        background-color: var(--clr-warn-light);
    }
    
    /* TODO: Use a wrapper element that handles error messages via data attributes */
    &[class|=error] {
        border: 2px solid var(--clr-warn);
    }
}

button:disabled,
select:disabled,
input:disabled,
textarea:disabled {
    background-color: var(--clr-disabled-background);
    color: var(--clr-disabled-text);
}

button[btn-loading] {
    display: grid;
    cursor: default;
    pointer-events: none;

    & > * {
        grid-row: 1;
        grid-column: 1;
        justify-self: center;
    }
}

button:not([btn-loading]) [is-loading] {
    display: none;
}

button[btn-loading] [has-loaded] {
    opacity: 0;
}

[class|=btn],
[class|=select] {
    --_clr-border: transparent;
    --_clr-bg: transparent;
    --_clr-text: var(--clr-text, #000);
    background-color: var(--_clr-bg);
    color: var(--_clr-text);
    padding: var(--size-s) calc(var(--size-s) * 2);
    border-radius: var(--size-xs);
    border: 2px solid var(--_clr-border);

}

[class|=btn] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--size-xs);
}

.btn-hover-light:hover,
.btn-hover-light:focus-visible {
    --clr-text: var(--clr-primary);
}

.btn-hover-heavy:hover,
.btn-hover-heavy:focus-visible {
    --_clr-border: var(--clr-text);
    font-weight: 600;
}

.btn-warn {
    --_clr-bg: var(--clr-warn);
    --_clr-text: white;
}

.btn-primary {
    --_clr-bg: var(--clr-primary-dark);
    --_clr-text: white;
}

.btn-secondary {
    --_clr-border: var(--clr-text);

    &:disabled {
        --_clr-border: transparent;
    }
}

.btn-primary,
.btn-secondary {
    &:enabled:hover,
    &:enabled:hover {
        --_clr-border: var(--clr-text);
        --_clr-bg: var(--clr-primary);
        --_clr-text: black;
    }
}

.btn-toolbar {
    position: relative;
    padding: var(--size-s);

    &:enabled.highlight {
        --_clr-text: var(--clr-primary-dark);

        &:hover {
            --_clr-text: black;
        }
    }
}

.btn-toolbar,
.select-toolbar {
    --_clr-bg: hsl(var(--hsl-text) / 5%);
    --_clr-text: var(--clr-text);

    &:enabled:hover {
        --_clr-bg: var(--clr-primary-dark);
    }
}

input[type="checkbox"] {
    box-sizing: content-box;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 2em;
    height: 1em;
    border-width: 1px;
    border-color: white;
    border-radius: 0.5em;
    background-color: black;
    box-shadow: inset 0 0 2px #ccc;
    transition: 0.35s;
}

input[type="checkbox"]:checked {
    background-color: white;
}

/* input[type="checkbox"]:disabled {
    background-color: #444;
} */

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    margin: 0.15em;
    width: 0.7em;
    height: 0.7em;
    left: 0;
    background-color: #444;
    border-radius: 0.3em;
    transition: 0.35s;
}

input[type="checkbox"]:checked::before {
    background-color: #009900;
    left: 1em;
}

input[type="checkbox"]:disabled::before {
    background-color: #999;
}

label:has(input[type="checkbox"]) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    width: fit-content;
    white-space: nowrap;
}

select,
label:has(input[type="checkbox"]:enabled),
input[type="checkbox"]:enabled,
label:has(input[type="radio"]:enabled),
input[type="radio"]:enabled,
label:has(input[type="file"]:enabled) {
    cursor: pointer;
}

/* Custom elements */
fullscreen-image,
img-gallery,
img-wrapper {
    display: contents;
}

a[disabled] {
    pointer-events: none;
}

[full-width] {
    width: 100%;
}

[text-left] {
    text-align: left;
}

[text-center] {
    text-align: center;
}

[text-right] {
    text-align: right;
}

[text-justify] {
    text-align: justify;
}

[is-loading] {
    animation: is-loading 1s steps(15, end) infinite;
    margin-inline: auto;
}

@keyframes is-loading {
    to { transform: rotate(360deg); }    
}

.link-svg {
    color: inherit;

    &.active:not([btn-loading]) {
        border-radius: var(--size-xs);
        background-color: var(--clr-safe-light);
        color: var(--clr-dark);
    }

    &:hover {
        background-color: transparent;
        color: var(--clr-primary);

        & .unhovered {
            display: none;
        }
    }

    &:not(:hover) .hovered {
        display: none;
    }
}

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  ;
}

::before,
::after {
  --tw-content: '';
}

.pointer-events-none {
    pointer-events: none;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.flex {
    display: flex;
}

.table {
    display: table;
}

.contents {
    display: contents;
}

.w-80 {
    width: 20rem;
}

.w-full {
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
    resize: both;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-end {
    justify-content: flex-end;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 0.75rem;
}

.border {
    border-width: 1px;
}

.p-1 {
    padding: 0.25rem;
}

.p-4 {
    padding: 1rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.lowercase {
    text-transform: lowercase;
}

.italic {
    font-style: italic;
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: hsl(0 0% 50% / var(--tw-text-opacity, 1));
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

body {
    margin-inline: auto;
    width: min(1080px, 90%);
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--clr-bg);
    font-family: 'Roboto Mono';
    color: var(--clr-text);
}

header-container {
    display: block;
    background-image: linear-gradient(
        to bottom right,
        var(--clr-header-1) 0%,
        var(--clr-header-1) 15%,
        var(--clr-header-2) 100%
    );
}

header-links {
    display: flex;
    padding-block-start: var(--size-s);
}

header-links a svg {
    fill: currentColor;
}

header-links a:hover svg,
header-links a:focus svg {
    fill: var(--clr-primary);
}

account-container {
    position: fixed;
    right: 0;
    top: 0;
    padding: 0.5rem;
}

social-container {
    display: flex;
    justify-content: flex-end;
    gap: var(--size-s);
}

menu-container {
    display: flex;
    justify-content: space-between;
    gap: var(--size-s);
}

#flip-logo {
    fill: var(--clr-bg);
    stroke: var(--clr-header-2);
}

#flip-logo > rect {
    transform-origin: var(--center);
}

#flip-logo > .flipped {
    animation: var(--delay) flipped 0.3s linear forwards;
}

/* #flip-logo > .hovered,
#flip-logo > .hovered-adjacent,
#flip-logo > .hovered-corner {
    fill: var(--clr-secondary);
} */

#flip-logo > .flipped.hovered,
#flip-logo > .flipped.hovered-adjacent,
#flip-logo > .flipped.hovered-corner {
    fill: var(--clr-tertiary) !important;
}

.hovered {
    filter: brightness(1.5);
}

.hovered-adjacent {
    filter: brightness(1.25);
}

.hovered-corner {
    filter: brightness(0.9);
}

@keyframes flipped {
    50% {
        transform: rotateY(90deg);
        fill: var(--clr-bg);
    }
    51% {
        transform: rotateY(91.8deg);
        fill: var(--clr-primary);
    }
    100% {
        transform: rotateY(180deg);
        fill: var(--clr-primary);
    }
}

.tagline {
    margin-block: var(--size-s) var(--size-m);
    border-top: 2px var(--clr-primary-50) solid;
    padding: var(--size-s);
    font-style: italic;
}

content-container {
    display: block;
    padding-inline: var(--size-s);
}

main {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

::-moz-selection {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
}

::selection,
::-moz-selection {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
}

a {
    color: var(--clr-link);

    &:hover {
        color: var(--clr-link-hover);
        text-decoration: underline;
    }
}

main p a {
    position: relative;
    text-shadow: 2px 2px var(--clr-bg);

    --clr-hsl-highlighter: 330, 88%, 67%;
    background-image:
        linear-gradient(104deg,
            hsla(var(--clr-hsl-highlighter), 0) 0.9%,
            hsla(var(--clr-hsl-highlighter), 1.25) 2.4%,
            hsla(var(--clr-hsl-highlighter), 0.5) 5.8%,
            hsla(var(--clr-hsl-highlighter), 0.1) 93%,
            hsla(var(--clr-hsl-highlighter), 0.7) 96%,
            hsla(var(--clr-hsl-highlighter), 0) 98%),
        linear-gradient(183deg,
            hsla(var(--clr-hsl-highlighter), 0) 0%,
            hsla(var(--clr-hsl-highlighter), 0.3) 7.9%,
            hsla(var(--clr-hsl-highlighter), 0) 15%);
    padding: 0.1em 13.7px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    border-radius: 0.46875rem;
}

main p a:visited {
    color: var(--clr-link-visited);
}


main p a:hover {
    --clr-hsl-highlighter: 244, 79%, 65%;
}

footer {
    margin-top: var(--size-l);
    padding-inline: var(--size-s);
    text-align: center;
    font-style: italic;
}

h1 {
    display: inline-block;
    font-size: 4rem;
    line-height: 1em;
    margin-block-end: var(--size-s);
}

h2 {
    margin-block: var(--size-m);
    font-family: 'Press Start 2P';
    font-size: 1.5em;
}

main h2::before {
    margin-inline-end: var(--size-xs);
    content: '>';
}

[class^='h3'] {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 1.4em 0.667em;
}

p {
    margin-block: 1em;
}

.weak {
    font-size: 0.9em;
    opacity: 0.5;
}

ol.numbered {
    max-width: 50%;
    padding-inline-start: 3.15em;
    list-style: none none 0;
    counter-reset: custom-counter;
}

ol.numbered > li {
    position: relative;
    margin-block: 0.35em;
    counter-increment: custom-counter;
    min-height: 2.25em;
    transition: transform 0.5s;
}

ol.numbered > li::before {
    position: absolute;
    content: counter(custom-counter);
    font-family: 'Jersey10';
    font-size: 1.5em;
    top: 0;
    left: -1.9em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: var(--clr-primary);
    text-shadow: 2px 2px 1px var(--clr-bg);
    box-shadow: 1.25px 1.25px 1px 0 var(--clr-text);
    line-height: 1.5em;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    transform: rotate(-15deg);
    transition:
        background-color 0.5s,
        color 0.5s,
        text-shadow 0.5s;
}

ol.numbered > li:hover {
    transform: translateX(1em);
}

ol.numbered > li:hover::before {
    background-color: var(--clr-primary-dark);
    color: var(--clr-bg);
    text-shadow: 2px 2px 1px var(--clr-text);
}

/* header {
    position: relative;
    overflow: hidden;
}

header * {
    z-index: 1;
}
    
header::before {
    position: absolute;
    top: 0;
    inset-inline: 0;
    height: 4px;
    background-image: linear-gradient(
        90deg,
        #ff0000 0%,
        #00ff00 50%,
        #0000ff 100%
    );
    content: '';
} */

.btn {
    padding: 0.5em 1.5em;
    border: 1px solid currentColor;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/* .btn:disabled, .btn.disabled {
    background-color: var(--hsl-gray-300);
    color: var(--hsl-gray-100);
} */

.btn-login:not(:disabled):not(.disabled):hover {
    background-color: hsl(var(--hsl-hotpink-500));
    color: black;

}

input.error {
    background-color: hsl(var(--hsl-hotpink-200));
    color: black;
}

input.error::selection {
    background-color: hsl(var(--hsl-hotpink-800));
    color: white;
}

div.error {
    display: list-item;
    list-style-position: inside;
}

.links a img {
    transition:
        transform 0.2s,
        filter 0.5s,
        box-shadow 0.5s;
}

.links a:hover img {
    transform: scale(1.2);
    filter: brightness(1.5);
    box-shadow: 0px 0px 16px 4px var(--clr-primary-50);
}

about-me {
    display: block;
    margin-top: 2em;
}

about-me ul {
    outline: 1px var(--clr-accent) solid;
    border: 2px var(--clr-header-2) solid;
    border-radius: 0.5em 0.5em 0 0;
    overflow: hidden;
    display: block flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

about-me li {
    background-color: var(--clr-text);
    color: var(--clr-bg);
    padding-inline: 0.5em;
    padding-block: 0.2em;
    flex-grow: 1;
    text-align: center;
}

about-me li:has(input:checked) {
    background-color: var(--clr-primary);
    color: var(--clr-text);
    font-weight: 800;
}

about-me li:has(label:hover) {
    background-color: var(--clr-primary-light);
    color: var(--clr-bg)
}

about-me input[name=about-me] {
    display: none;
}

about-me label {
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

about-me-content {
    display: block;
    outline: 1px var(--clr-accent) solid;
    border: 2px var(--clr-header-2) solid;
    padding: 1em;
}

.h3-about-me {
    margin-block: 0 0.667em;
}

about-me-content section {
    animation: about-me-content 0.8s ease-in-out;
}

@keyframes about-me-content {
    from { opacity: 0; }
}

@media all and (min-width: 55rem) {
    header-container {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding-inline: var(--size-l);
    }

    header-links {
        justify-content: space-between;
    }

    menu-container {
        margin-top: var(--size-m);
    }

    mobile-title,
    mobile-menu  {
        display: none;
    }
}

@media not all and (min-width: 55rem) {
    body {
        width: 100%;
    }

    header {
        position: sticky;
        top: 0;
        margin-bottom: 1rem;
        z-index: 10;
    }

    header-container {
        padding-inline: var(--size-s);
    }

    header-links {
        justify-content: center;
    }

    social-container {
        gap: var(--size-m);
    }

    home-wrapper,
    desktop-title,
    desktop-menu,
    sub-menu {
        display: none;
    }

    menu-container {
        padding-inline-start: var(--size-s);
    }

    mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    content-container {
        margin-block: var(--size-l);
        padding-inline: var(--size-m);
    }

    h1 {
        margin-block-start: 0.75rem;
        font-size: clamp(2rem, 10vw + 0.25rem, 64px);
    }

    h2 {
        font-size: 1.5em;
    }
    
    ol.numbered {
        max-width: 75%;
    }
}

@media not all and (min-width: 37.5rem) {
    ol.numbered {
        max-width: calc(100% - 1em);
    }

    .links div {
        text-align: center;
    }
}

@media not all and (min-width: 37.5rem) {

    .max-md\:flex-row {
        flex-direction: row;
    }

    .max-md\:flex-wrap {
        flex-wrap: wrap;
    }

    .max-md\:justify-center {
        justify-content: center;
    }

    .max-md\:rounded-lg {
        border-radius: 0.5rem;
    }

    .max-md\:bg-hotpink-950 {
        --tw-bg-opacity: 1;
        background-color: hsl(331 42% 14% / var(--tw-bg-opacity, 1));
    }

    .max-md\:p-2 {
        padding: 0.5rem;
    }
}

@media (min-width: 37.5rem) {

    .grid-cols-sidebar-right {
        display: grid;
        grid-template-columns: 1fr var(--sidebar-width, 120px);
        -moz-column-gap: 2rem;
        column-gap: 2rem;

        & > main,
        & > aside {
            min-width: 0%;
        }
    }

    .md\:flex-col {
        flex-direction: column;
    }

    .md\:items-center {
        align-items: center;
    }
}