blog-head-component {
    display: block flex;
    flex-direction: column;
    gap: var(--size-l);
    margin-bottom: var(--size-l);
}

#blog-head__btn-add {
    border-radius: 9999px;
}

blog-head-content,
blog-head-body,
blog-head-footer {
    display: block flex;
    flex-direction: column;
    gap: var(--size-m)
}

blog-head-permalink {
    display: block flex;
    flex-direction: row;
    align-items: center;
}

#blog-head__permalink {
    flex-grow: 1;
}

#blog-head__reset-permalink {
    padding: var(--size-s);
}

blog-head-options,
blog-head-buttons,
blog-head-scheduling {
    display: block flex;
    flex-direction: row;
    gap: var(--size-m);
    justify-content: space-between;
}

blog-head-buttons-save {
    display: block grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-m);

    & > * {
        min-width: fit-content;
    }
}