blog-head-component {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

blog-head-component .btn-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 9999px;
    color: var(--color-text);
}

blog-head-component > .btn-add:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
}